@font-face { font-family: NothingClean; src: url('Nothing Clean.otf'); } 

body {
	background-color: #8b0000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding 0;
	
}

.navBar ul {
	background-color: #161919; 
	overflow: hidden;
	list-style-type:none;
	margin: 0;
    padding: 0;
	margin-bottom: 40px
}

.navBar li a {
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	color: #8b0000;
	padding: 14px 25px;
	float: left;
	text-align: center;
	text-decoration: none;
	display:block;
}

.navBar a:hover {
	background-color: #8b0000;
	color: #FFFFFF
}

.mainTexts {
	text-align: center;
	color: #FFFFFF;
	font-family: NothingClean;
}

#introText {
	font-size:20px;
}

h1 {
	font-size: 50px;
	margin-bottom: 40px;
}

.soldude {
	display:block;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}