body {
	background-color: #8b0000;
}

.navBar ul {
	background-color: #FFFFFF;
	overflow: hidden;
	list-style-type:none;
	margin: 0;
    padding: 0;
}

.navBar li a {
	font-size: 17px;
	color: #8b0000;
	padding: 14px 25px;
	float: left;
	text-align: center;
	text-decoration: none;
	display:block;
	
}

.navBar a:hover {
	background-color: #8b0000;
	color: #FFFFFF
}

.mainTexts {
	text-align: center;
	color: #FFFFFF;
}

#introText {
	font-size:20;
}

h1 {
	font-size: 50;
	color: #FFFFFF;
}
